<section id="main-slider">
    <div class="owl-carousel">
        <div class="item" style="background-image: url(images/slider/slide01.jpg);"></div>
        <div class="item" style="background-image: url(images/slider/slide01.jpg);"></div>
    </div>
</section>

<section id="cta" class="wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <h2>Welcome to WishAmigo . . ! ! ! </h2>
                <p>There is a lot more to tell about wish amigo. We a team of members here to make your beloved ones a big surprise. Still lot more to write in this section</p>
            </div>
            <div class="col-sm-3 text-right">
                <a class="btn btn-primary btn-lg" href="#">About Us</a>
            </div>
        </div>
    </div>
</section>

<section id="features">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown animated">Features</h2>
            <p class="text-center wow fadeInDown animated">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInLeft">
                <%= image_tag("screen.png")%>
            </div>
            <div class="col-sm-6">

                <div class="media service-box wow fadeInRight">
                    <div class="pull-left">
                        <i class="fa fa-desktop"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Web Design</h4>
                        <p>Lorem ipsum reprehenderit minim in cillum exercitation labore quis.</p>
                    </div>
                </div>

                <div class="media service-box wow fadeInRight">
                    <div class="pull-left">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Internet Marketing</h4>
                        <p>Lorem ipsum reprehenderit minim in cillum exercitation labore quis.</p>
                    </div>
                </div>

                <div class="media service-box wow fadeInRight">
                    <div class="pull-left">
                        <i class="fa fa-mobile"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">App Development</h4>
                        <p>Lorem ipsum reprehenderit minim in cillum exercitation labore quis.</p>
                    </div>
                </div>

                <div class="media service-box wow fadeInRight">
                    <div class="pull-left">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Graphic Design</h4>
                        <p>Lorem ipsum reprehenderit minim in cillum exercitation labore quis.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="cta2">
    <div class="container">
        <div class="text-center">
            <h2 class="wow fadeInUp" data-wow-delay="0ms" data-wow-duration="300ms">
                Do you want to hear more from us?
            </h2>

            <p class="wow fadeInUp" data-wow-delay="100ms" data-wow-duration="300ms">
                Feel free to get in touch!
            </p>

            <p class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="300ms">
                <a class="btn btn-primary btn-lg" href="#">Get a quote</a>
            </p>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Services</h2>
            <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua..</p>
        </div>
        <div class="row">
            <div class="features">

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="300ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">We Deliver</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="300ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Happy Customers</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="300ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-arrow-up"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Our Passion</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="300ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Quality Design</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="300ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Web Development</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="300ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-mobile"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">App Development</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="portfolio">
    <div class="container">
        
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Our Works</h2>
            <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua..</p>
        </div>

        <div class="text-center">
            <ul class="portfolio-filter">
                <li><a href="#" class="active" data-filter="*">All</a></li>
                <li><a href="#" data-filter=".design">Design</a></li>
                <li><a href="#" data-filter=".development">Development</a></li>
                <li><a href="#" data-filter=".app">App</a></li>
            </ul>
        </div>

        <div class="portfolio-items">

            <div class="portfolio-item design">
                <div class="portfolio-item-inner">
                    <%= image_tag("01.jpg", class: "img-responsive")%>
                    <div class="portfolio-info">
                        <h3>Foreignerz Design</h3>
                        Lorem Ipsum Dolor Sit
                        <a class="preview" rel="prettyPhoto" href="assets/full.img">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="portfolio-item design app">
                <div class="portfolio-item-inner">
                    <%= image_tag("01.jpg", class: "img-responsive")%>
                    <div class="portfolio-info">
                        <h3>Foreignerz Design</h3>
                        Lorem Ipsum Dolor Sit
                        <a class="preview" rel="prettyPhoto" href="assets/full.img">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>                
            </div>

            <div class="portfolio-item design">
                <div class="portfolio-item-inner">
                    <%= image_tag("01.jpg", class: "img-responsive")%>
                    <div class="portfolio-info">
                        <h3>Foreignerz Design</h3>
                        Lorem Ipsum Dolor Sit
                        <a class="preview" rel="prettyPhoto" href="assets/full.img">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>                
            </div>
            
            <div class="portfolio-item development">
                <div class="portfolio-item-inner">
                    <%= image_tag("01.jpg", class: "img-responsive")%>
                    <div class="portfolio-info">
                        <h3>Foreignerz Design</h3>
                        Lorem Ipsum Dolor Sit
                        <a class="preview" rel="prettyPhoto" href="assets/full.img">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>                
            </div>
            
            <div class="portfolio-item design app">
                <div class="portfolio-item-inner">
                    <%= image_tag("01.jpg", class: "img-responsive")%>
                    <div class="portfolio-info">
                        <h3>Foreignerz Design</h3>
                        Lorem Ipsum Dolor Sit
                        <a class="preview" rel="prettyPhoto" href="assets/full.img">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>                
            </div>
            
            <div class="portfolio-item development">
                <div class="portfolio-item-inner">
                    <%= image_tag("01.jpg", class: "img-responsive")%>
                    <div class="portfolio-info">
                        <h3>Foreignerz Design</h3>
                        Lorem Ipsum Dolor Sit
                        <a class="preview" rel="prettyPhoto" href="assets/full.img">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>                
            </div>
            
            <div class="portfolio-item design app">
                <div class="portfolio-item-inner">
                    <%= image_tag("01.jpg", class: "img-responsive")%>
                    <div class="portfolio-info">
                        <h3>Foreignerz Design</h3>
                        Lorem Ipsum Dolor Sit
                        <a class="preview" rel="prettyPhoto" href="assets/full.img">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>                
            </div>
            
            <div class="portfolio-item development">
                <div class="portfolio-item-inner">
                    <%= image_tag("01.jpg", class: "img-responsive")%>
                    <div class="portfolio-info">
                        <h3>Foreignerz Design</h3>
                        Lorem Ipsum Dolor Sit
                        <a class="preview" rel="prettyPhoto" href="assets/full.img">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>                
            </div>

        </div>

    </div>
</section>

<section id="about">
    <div class="container">
        
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">About Us</h2>
            <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua..</p>
        </div>

        <div class="row">
            <div class="col-sm-6 wow fadeInLeft">
                <h3 class="column-title">Video Feature</h3>
                <div class="embed-responsive embed-responsive-16by9">

                </div>
            </div>

            <div class="col-sm-6 wow fadeInRight">
                <div class="column-title">Our Vision</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="nostyle">
                           <li><i class="fa fa-check"></i> Duis aute irure dolor</li>
                           <li><i class="fa fa-check"></i> Duis aute irure dolor</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="nostyle">
                           <li><i class="fa fa-check"></i> Duis aute irure dolor</li>
                           <li><i class="fa fa-check"></i> Duis aute irure dolor</li>
                        </ul>
                    </div>
                </div>
                <a class="btn btn-primary learn-more" href="#">More</a>

            </div>

        </div>
    </div>
</section>

<section id="work-process">
    <div class="container">
        
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">What we do?</h2>
            <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua..</p>
        </div>

        <div class="row text-center">

            <div class="col-md-2 col-md-2 col-xs-6">
                <div class="wow fadeInUp" data-wow-delay="0ms" data-wow-duration="400ms">
                    <div class="icon-circle">
                        <i class="fa fa-coffee fa-2x"></i>
                    </div>
                    <h3>Plan</h3>
                </div>
            </div>

            <div class="col-md-2 col-md-2 col-xs-6">
                <div class="wow fadeInUp" data-wow-delay="0ms" data-wow-duration="400ms">
                    <div class="icon-circle">
                        <i class="fa fa-bullhorn fa-2x"></i>
                    </div>
                    <h3>Design</h3>
                </div>
            </div>

            <div class="col-md-2 col-md-2 col-xs-6">
                <div class="wow fadeInUp" data-wow-delay="0ms" data-wow-duration="400ms">
                    <div class="icon-circle">
                        <i class="fa fa-image fa-2x"></i>
                    </div>
                    <h3>Develop</h3>
                </div>
            </div>

            <div class="col-md-2 col-md-2 col-xs-6">
                <div class="wow fadeInUp" data-wow-delay="0ms" data-wow-duration="400ms">
                    <div class="icon-circle">
                        <i class="fa fa-space-shuttle fa-2x"></i>
                    </div>
                    <h3>Test</h3>
                </div>
            </div>

            <div class="col-md-2 col-md-2 col-xs-6">
                <div class="wow fadeInUp" data-wow-delay="0ms" data-wow-duration="400ms">
                    <div class="icon-circle">
                        <i class="fa fa-heart fa-2x"></i>
                    </div>
                    <h3>Launch</h3>
                </div>
            </div>

            <div class="col-md-2 col-md-2 col-xs-6">
                <div class="wow fadeInUp" data-wow-delay="0ms" data-wow-duration="400ms">
                    <div class="icon-circle">
                        <i class="fa fa-shopping-cart fa-2x"></i>
                    </div>
                    <h3>Party</h3>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="meet-team">
    <div class="container">
        
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Meet The Amazing Team</h2>
            <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua..</p>
        </div>
        
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="team-member">
                    <div class="team-member wow fadeInUp" data-wow-delay="0ms" data-wow-duration="400ms">
                        <div class="team-img">
                            <%= image_tag("team/wateam-aditya.jpg", class: "img-responsive")%>
                        </div>
                        <div class="team-info">
                            <h3>Aditya</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="team-member">
                    <div class="team-member wow fadeInUp" data-wow-delay="0ms" data-wow-duration="400ms">
                        <div class="team-img">
                            <%= image_tag("team/lithu.jpg", class: "img-responsive")%>
                        </div>
                        <div class="team-info">
                            <h3>Lithu</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="team-member">
                    <div class="team-member wow fadeInUp" data-wow-delay="0ms" data-wow-duration="400ms">
                        <div class="team-img">
                            <%= image_tag("team/chintu.jpg", class: "img-responsive")%>
                        </div>
                        <div class="team-info">
                            <h3>Chintu</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="team-member">
                    <div class="team-member wow fadeInUp" data-wow-delay="0ms" data-wow-duration="400ms">
                        <div class="team-img">
                            <%= image_tag("team/vijay.jpg", class: "img-responsive")%>
                        </div>
                        <div class="team-info">
                            <h3>Omkar Vijay</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-3">
                <div class="team-member">
                    <div class="team-member wow fadeInUp" data-wow-delay="0ms" data-wow-duration="400ms">
                        <div class="team-img">
                            <%= image_tag("team/wateam-vinay.jpg", class: "img-responsive")%>
                        </div>
                        <div class="team-info">
                            <h3>Vinay</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-3">
                <div class="team-member">
                    <div class="team-member wow fadeInUp" data-wow-delay="0ms" data-wow-duration="400ms">
                        <div class="team-img">
                            <%= image_tag("team/wateam-nitin.jpg", class: "img-responsive")%>
                        </div>
                        <div class="team-info">
                            <h3>Yemula Nitin</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="divider"></div>
        
        <div class="row">
            <div class="col-sm-4">
                <h3 class="column-title">Skills</h3>
                
                <strong>Web Design</strong>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" data-width="85" role="progressbar">
                        85%
                    </div>
                </div>

                <strong>Web Development</strong>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" data-width="85" role="progressbar">
                        85%
                    </div>
                </div>

                <strong>App Development</strong>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" data-width="85" role="progressbar">
                        85%
                    </div>
                </div>

                <strong>Graphic Design</strong>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" data-width="85" role="progressbar">
                        85%
                    </div>
                </div>

            </div>
            
            <div class="col-sm-4">
                <h3 class="column-title">History</h3>
                <div role="tabpanel">
                    
                    <ul class="nav main-tab nav-justified" role="tablist">
                        <li class="active" role="presentation">
                            <a aria-expanded="true" aria-controls="tabl" data-toggle="tab" role="tab" href="#tab1">2011</a>
                        </li>
                        <li role="presentation">
                            <a aria-expanded="true" aria-controls="tabl" data-toggle="tab" role="tab" href="#tab2">2012</a>
                        </li>
                        <li role="presentation">
                            <a aria-expanded="true" aria-controls="tabl" data-toggle="tab" role="tab" href="#tab3">2013</a>
                        </li>
                        <li role="presentation">
                            <a aria-expanded="true" aria-controls="tabl" data-toggle="tab" role="tab" href="#tab4">2014</a>
                        </li>
                    </ul>

                    <div id="tab-content" class="tab-content">
                        <div id="tab1" class="tab-pane fade active in" aria-labelledby="tab1" role="tabpanel">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                        </div>
                        <div id="tab2" class="tab-pane fade" aria-labelledby="tab2" role="tabpanel">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                        </div>
                        <div id="tab3" class="tab-pane fade" aria-labelledby="tab3" role="tabpanel">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                        </div>
                        <div id="tab4" class="tab-pane fade" aria-labelledby="tab4" role="tabpanel">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <h3 class="column-title">FAQ</h3>
                <div id="accordion" class="panel-group" aria-multiselectable="true" role="tablist">
                    
                    <div class="panel panel-default">
                        <div id="headingOne" class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse">
                                    First question
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" aria-labelledby="headingOne" role="tabpanel">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div id="headingTwo" role="tab" class="panel-heading">
                            <h4 class="panel-title">
                                <a aria-controls="collapseTwo" aria-expanded="false" href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                    Second question
                                </a>
                            </h4>
                        </div>
                        <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse collapse" id="collapseTwo">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div id="headingThree" role="tab" class="panel-heading">
                            <h4 class="panel-title">
                                <a aria-controls="collapseThree" aria-expanded="false" href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                    Third question
                                </a>
                            </h4>
                        </div>
                        <div aria-labelledby="headingThree" role="tabpanel" class="panel-collapse collapse" id="collapseThree">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>
</section>

<section id="animated-number">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Stats</h2>
            <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>

        <div class="row text-center">
            <div class="col-sm-3 col-xs-6">
                <div data-wow-delay="0ms" data-wow-duration="400ms" class="wow fadeInUp">
                    <div data-duration="1000" data-digit="17" class="animated-number"></div>
                    <strong>People</strong>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div data-wow-delay="100ms" data-wow-duration="400ms" class="wow fadeInUp">
                    <div data-duration="1000" data-digit="95" class="animated-number"></div>
                    <strong>Clients</strong>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div data-wow-delay="200ms" data-wow-duration="400ms" class="wow fadeInUp">
                    <div data-duration="1000" data-digit="143" class="animated-number"></div>
                    <strong>Projects</strong>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div data-wow-delay="300ms" data-wow-duration="400ms" class="wow fadeInUp">
                    <div data-duration="1000" data-digit="47" class="animated-number"></div>
                    <strong>Sleepless Nights</strong>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="pricing">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Pricing</h2>
            <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div data-wow-delay="0ms" data-wow-duration="400ms" class="wow zoomIn">
                    <ul class="pricing">
                        <li class="plan-header">
                            <div class="price-duration">
                                <span class="price">
                                    $49
                                </span>
                                <span class="duration">
                                    per month
                                </span>
                            </div>

                            <div class="plan-name">
                                Beginner
                            </div>
                        </li>
                        <li><span>5</span> Lorem Ipsum </li>
                        <li><span>15</span> Dolor Sit Amet</li>
                        <li><span>30</span> Condectetur </li>
                        <li><span>Sed</span> Do Eismod </li>
                        <li><span>Enim</span> Ad Minim </li>
                        <li class="plan-purchase"><a href="#" class="btn btn-primary purchase-yellow">Purchase</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div data-wow-delay="200ms" data-wow-duration="400ms" class="wow zoomIn">
                    <ul class="pricing featured">
                        <li class="plan-header">
                            <div class="price-duration">
                                <span class="price">
                                    $59
                                </span>
                                <span class="duration">
                                    per month
                                </span>
                            </div>

                            <div class="plan-name">
                                Silver
                            </div>
                        </li>
                        <li><span>5</span> Lorem Ipsum </li>
                        <li><span>15</span> Dolor Sit Amet</li>
                        <li><span>30</span> Condectetur </li>
                        <li><span>Sed</span> Do Eismod </li>
                        <li><span>Enim</span> Ad Minim </li>
                        <li class="plan-purchase"><a href="#" class="btn btn-default">Purchase</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div data-wow-delay="400ms" data-wow-duration="400ms" class="wow zoomIn">
                    <ul class="pricing">
                        <li class="plan-header">
                            <div class="price-duration">
                                <span class="price">
                                    $99
                                </span>
                                <span class="duration">
                                    per month
                                </span>
                            </div>

                            <div class="plan-name">
                                Gold
                            </div>
                        </li>
                        <li><span>5</span> Lorem Ipsum </li>
                        <li><span>15</span> Dolor Sit Amet</li>
                        <li><span>30</span> Condectetur </li>
                        <li><span>Sed</span> Do Eismod </li>
                        <li><span>Enim</span> Ad Minim </li>
                        <li class="plan-purchase"><a href="#" class="btn btn-primary purchase-yellow">Purchase</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div data-wow-delay="600ms" data-wow-duration="400ms" class="wow zoomIn">
                    <ul class="pricing">
                        <li class="plan-header">
                            <div class="price-duration">
                                <span class="price">
                                    $199
                                </span>
                                <span class="duration">
                                    per month
                                </span>
                            </div>

                            <div class="plan-name">
                                Pro
                            </div>
                        </li>
                        <li><span>5</span> Lorem Ipsum </li>
                        <li><span>15</span> Dolor Sit Amet</li>
                        <li><span>30</span> Condectetur </li>
                        <li><span>Sed</span> Do Eismod </li>
                        <li><span>Enim</span> Ad Minim </li>
                        <li class="plan-purchase"><a href="#" class="btn btn-primary purchase-yellow">Purchase</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">

                <div data-ride="carousel" class="carousel slide text-center" id="carousel-testimonial">
                    <!-- Wrapper for slides -->
                    <div role="listbox" class="carousel-inner">
                        <div class="item active">
                            <p><%= image_tag("team/wateam-vinay.jpg", class: "img-circle img-thumbnail", :style => "height: 100px; width: 100px")%></p>
                            <h4>Mark Elmett</h4>
                            <small>Co-Founder @ Mountain People</small>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="item">
                            <p><%= image_tag("team/wateam-vinay.jpg", class: "img-circle img-thumbnail", :style => "height: 100px; width: 100px")%></p>
                            <h4>Mark Elmett</h4>
                            <small>Co-Founder @ Mountain People</small>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                    </div>

                    <!-- Controls -->
                    <div class="btns">
                        <a data-slide="prev" role="button" href="#carousel-testimonial" class="btn btn-primary btn-sm">
                            <span aria-hidden="true" class="fa fa-angle-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a data-slide="next" role="button" href="#carousel-testimonial" class="btn btn-primary btn-sm">
                            <span aria-hidden="true" class="fa fa-angle-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="blog">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Blog</h2>
            <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div data-wow-delay="100ms" data-wow-duration="300ms" class="blog-post blog-media wow fadeInRight">
                    <article class="media clearfix">
                        <div class="entry-thumbnail pull-left">
                            <%= image_tag("01.jpg", class: "img-responsive")%>
                            <span class="post-format post-format-gallery"><i class="fa fa-image"></i></span>
                        </div>
                        <div class="media-body">
                            <header class="entry-header">
                                <div class="entry-date">01 February 2015</div>
                                <h2 class="entry-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a></h2>
                            </header>

                            <div class="entry-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#" class="btn btn-primary">Continue</a>
                            </div>

                            <footer class="entry-meta">
                                <span class="entry-author"><i class="fa fa-pencil"></i> <a href="#">Nicole</a></span>
                                <span class="entry-category"><i class="fa fa-folder-o"></i> <a href="#">Programming</a></span>
                                <span class="entry-comments"><i class="fa fa-comments-o"></i> <a href="#">18</a></span>
                            </footer>
                        </div>
                    </article>
                </div>
                <div data-wow-delay="200ms" data-wow-duration="300ms" class="blog-post blog-media wow fadeInRight">
                    <article class="media clearfix">
                        <div class="entry-thumbnail pull-left">
                            <%= image_tag("01.jpg", class: "img-responsive")%>
                            <span class="post-format post-format-audio"><i class="fa fa-music"></i></span>
                        </div>
                        <div class="media-body">
                            <header class="entry-header">
                                <div class="entry-date">03 February 2015</div>
                                <h2 class="entry-title"><a href="#"></a></h2>
                            </header>

                            <div class="entry-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                <a href="#" class="btn btn-primary">Continue</a>
                            </div>

                            <footer class="entry-meta">
                                <span class="entry-author"><i class="fa fa-pencil"></i> <a href="#">Karen</a></span>
                                <span class="entry-category"><i class="fa fa-folder-o"></i> <a href="#">UI</a></span>
                                <span class="entry-comments"><i class="fa fa-comments-o"></i> <a href="#">16</a></span>
                            </footer>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-sm-6">
                <div data-wow-delay="0ms" data-wow-duration="300ms" class="blog-post blog-large wow fadeInLeft">
                    <article>
                        <header class="entry-header">
                            <div class="entry-thumbnail">
                                <%= image_tag("blog_01.jpg", class: "img-responsive")%>
                                <span class="post-format post-format-video"><i class="fa fa-film"></i></span>
                            </div>
                            <div class="entry-date">15 February 2015</div>
                            <h2 class="entry-title"><a href="#">While now the fated Pequod had been so long afloat this</a></h2>
                        </header>

                        <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <a href="#" class="btn btn-primary">Continue</a>
                        </div>

                        <footer class="entry-meta">
                            <span class="entry-author"><i class="fa fa-pencil"></i> <a href="#">Mark</a></span>
                            <span class="entry-category"><i class="fa fa-folder-o"></i> <a href="#">General</a></span>
                            <span class="entry-comments"><i class="fa fa-comments-o"></i> <a href="#">12</a></span>
                        </footer>
                    </article>
                </div>
            </div><!--/.col-sm-6-->                
        </div>

    </div>
</section>

<section id="get-in-touch">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Contact us</h2>
            <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
    </div>
</section>


<section id="contact">
    <div data-longitude="4.871331" data-latitude="52.365629" style="height:650px" id="google-map"></div>
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-8">
                    <div class="contact-form">
                        <h3>Contact Details</h3>

                        <address>
                          <strong>Lares, Inc.</strong><br>
                          11 Sixth Ave, Portsmouth <br>PO6 3PD, United Kingdom<br>
                          <abbr title="Phone">P:</abbr> +44 (845) 345-8765
                        </address>

                        <form action="#" method="post" name="contact-form" id="main-contact-form">
                            <div class="form-group">
                                <input type="text" required="" placeholder="Name" class="form-control" name="name">
                            </div>
                            <div class="form-group">
                                <input type="email" required="" placeholder="Email" class="form-control" name="email">
                            </div>
                            <div class="form-group">
                                <input type="text" required="" placeholder="Subject" class="form-control" name="subject">
                            </div>
                            <div class="form-group">
                                <textarea required="" placeholder="Message" rows="8" class="form-control" name="message"></textarea>
                            </div>
                            <button class="btn btn-primary" type="submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

   

  <section id="contact_us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted">One click away to make your special ones a special day. Our team will reach you within 24 hours</h3>
            </div>
        </div>

        <!-- ContactForm -->
        <%= form_for @contact, url: contact_path do |f| %>
          <div class="row">
            <div class="col-md-6">
              
              <!-- Name Field -->
              <p class="help-block text-danger">
                <% if @contact.errors.get(:name) %>
                  <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <%= @contact.errors.get(:name).first %>  
                  </div>
                <% end %>
              </p>
              <div class="form-group">
                  <%= f.text_field :name, :placeholder => "Your Name *", :class => "form-control" %>
              </div>
            </div>

          <!-- Email Field -->
          <div class="col-md-6">
            <p class="help-block text-danger">
              <% if @contact.errors.get(:email) %>
                <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <%= @contact.errors.get(:email).first %>  
                </div>
              <% end %>
            </p>
              <div class="form-group">
                  <%= f.text_field :email, :placeholder => "Your Email *", :class => "form-control" %>
              </div>
            </div>  
          </div>

          <div class="row">

            <!-- Phone Number -->
            <div class="col-md-6">
              <p class="help-block text-danger">
                <% if @contact.errors.get(:phone) %>
                  <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <%= @contact.errors.get(:phone).first %>  
                  </div>
                <% end %>
              </p>
              <div class="form-group">
                  <%= f.text_field :phone, :placeholder => "Your Contact Number *", :class => "form-control" %>
              </div>
            </div>
            
            <div class="col-md-6">

              <!-- Occasion Field -->
              <p class="help-block text-danger">
                <% if @contact.errors.get(:occasion) %>
                  <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <%= @contact.errors.get(:occasion).first %>  
                  </div>
                <% end %>
              </p>
              <div class="form-group">
                  <%= f.text_field :occasion, :placeholder => "To whom you want to surprise and your relation with them *", :class => "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">

            <!-- Event date -->
            <div class="col-md-6">
              <p class="help-block text-danger">
                <% if @contact.errors.get(:event_date) %>
                  <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <%= @contact.errors.get(:event_date).first %>  
                  </div>
                <% end %>
              </p>
              <div class="form-group">
                <div class='input-group date' id='event_date_picker'>
                      <%= f.text_field :event_date, :placeholder => "Event Date *", :class => "form-control" %>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
              </div>
            </div>

            <!-- Event Time -->
            <div class="col-md-6">
              <p class="help-block text-danger">
                <% if @contact.errors.get(:event_time) %>
                  <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <%= @contact.errors.get(:event_time).first %>  
                  </div>
                <% end %>
              </p>
              <div class="form-group">
                <div class='input-group date' id='event_time_picker'>
                      <%= f.text_field :event_time, :placeholder => "Event Time", :class => "form-control" %>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
              </div>
            </div>
          </div>

            <p class="help-block text-danger">
              <% if @contact.errors.get(:description) %>
                <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <%= @contact.errors.get(:description).first %>  
                </div>
              <% end %>
            </p>
            <div class="form-group">
                <%= f.text_area :description, :placeholder => "Few lines about how you dream about the surprise for your love?", :class => "form-control", :rows => "6" %>
            </div>
            <div class="col-lg-12 text-center">
                    <div id="success"></div>
                    <button type="submit" class="btn btn-primary">Contact WishAmigo</button>
        <% end %>
        <!-- ContactForm -->

    </div>
  </section>

  <!-- Portfolio Modals -->
  <!-- Use the modals below to showcase details about your portfolio projects! -->

  <!-- Portfolio Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Name</h2>
                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="img-responsive" src="img/portfolio/roundicons-free.png" alt="">
                        <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                        <p>
                            <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
                        <ul class="list-inline">
                            <li>Date: July 2014</li>
                            <li>Client: Round Icons</li>
                            <li>Category: Graphic Design</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- Portfolio Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Heading</h2>
                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="img-responsive img-centered" src="img/portfolio/startup-framework-preview.png" alt="">
                        <p><a href="http://designmodo.com/startup/?u=787">Startup Framework</a> is a website builder for professionals. Startup Framework contains components and complex blocks (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.</p>
                        <p>You can preview Startup Framework <a href="http://designmodo.com/startup/?u=787">here</a>.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- Portfolio Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Name</h2>
                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="img-responsive img-centered" src="img/portfolio/treehouse-preview.png" alt="">
                        <p>Treehouse is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. This is bright and spacious design perfect for people or startup companies looking to showcase their apps or other projects.</p>
                        <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/">FreebiesXpress.com</a>.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- Portfolio Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Name</h2>
                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="img-responsive img-centered" src="img/portfolio/golden-preview.png" alt="">
                        <p>Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Golden is a modern and clean one page web template that was made exclusively for Best PSD Freebies. This template has a great portfolio, timeline, and meet your team sections that can be easily modified to fit your needs.</p>
                        <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/golden-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- Portfolio Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Name</h2>
                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="img-responsive img-centered" src="img/portfolio/escape-preview.png" alt="">
                        <p>Escape is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Escape is a one page web template that was designed with agencies in mind. This template is ideal for those looking for a simple one page solution to describe your business and offer your services.</p>
                        <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/">FreebiesXpress.com</a>.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- Portfolio Modal 6 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Name</h2>
                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="img-responsive img-centered" src="img/portfolio/dreams-preview.png" alt="">
                        <p>Dreams is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Dreams is a modern one page web template designed for almost any purpose. Its a beautiful template thats designed with the Bootstrap framework in mind.</p>
                        <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<% if @scroll_to %>
  <script type="text/javascript">
    document.location.hash = "<%= @scroll_to %>"
    
  </script>>
<% end %>