<section id="main-slider">
    <div class="owl-carousel">
        <div class="item" style="background-image: url(images/slider/slide01.jpg);"></div>
        <div class="item" style="background-image: url(images/slider/slide01.jpg);"></div>
    </div>
</section>

<section id="cta" class="wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <h2>Welcome to WishAmigo . . ! ! ! </h2>
                <p>There is a lot more to tell about wish amigo. We a team of members here to make your beloved ones a big surprise. Still lot more to write in this section</p>
            </div>
            <div class="col-sm-3 text-right">
                <a class="btn btn-primary btn-lg" href="#">About Us</a>
            </div>
        </div>
    </div>
</section>

<section id="features">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown animated">Features</h2>
            <p class="text-center wow fadeInDown animated">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInLeft">
                <%= image_tag("screen.png")%>
            </div>
            <div class="col-sm-6">

                <div class="media service-box wow fadeInRight">
                    <div class="pull-left">
                        <i class="fa fa-desktop"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Web Design</h4>
                        <p>Lorem ipsum reprehenderit minim in cillum exercitation labore quis.</p>
                    </div>
                </div>

                <div class="media service-box wow fadeInRight">
                    <div class="pull-left">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Internet Marketing</h4>
                        <p>Lorem ipsum reprehenderit minim in cillum exercitation labore quis.</p>
                    </div>
                </div>

                <div class="media service-box wow fadeInRight">
                    <div class="pull-left">
                        <i class="fa fa-mobile"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">App Development</h4>
                        <p>Lorem ipsum reprehenderit minim in cillum exercitation labore quis.</p>
                    </div>
                </div>

                <div class="media service-box wow fadeInRight">
                    <div class="pull-left">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Graphic Design</h4>
                        <p>Lorem ipsum reprehenderit minim in cillum exercitation labore quis.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="cta2">
    <div class="container">
        <div class="text-center">
            <h2 class="wow fadeInUp" data-wow-delay="0ms" data-wow-duration="300ms">
                Do you want to hear more from us?
            </h2>

            <p class="wow fadeInUp" data-wow-delay="100ms" data-wow-duration="300ms">
                Feel free to get in touch!
            </p>

            <p class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="300ms">
                <a class="btn btn-primary btn-lg" href="#">Get a quote</a>
            </p>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Services</h2>
            <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua..</p>
        </div>
        <div class="row">
            <div class="features">

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="300ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">We Deliver</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="300ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Happy Customers</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="300ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-arrow-up"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Our Passion</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="300ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Quality Design</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="300ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Web Development</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="300ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-mobile"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">App Development</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="portfolio">
    <div class="container">
        
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Our Works</h2>
            <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua..</p>
        </div>

        <div class="text-center">
            <ul class="portfolio-filter">
                <li><a href="#" class="active" data-filter="*">All</a></li>
                <li><a href="#" data-filter=".design">Design</a></li>
                <li><a href="#" data-filter=".development">Development</a></li>
                <li><a href="#" data-filter=".app">App</a></li>
            </ul>
        </div>

        <div class="portfolio-items">

            <div class="portfolio-item design">
                <div class="portfolio-item-inner">
                    <%= image_tag("01.jpg", class: "img-responsive")%>
                    <div class="portfolio-info">
                        <h3>Foreignerz Design</h3>
                        Lorem Ipsum Dolor Sit
                        <a class="preview" rel="prettyPhoto" href="assets/full.img">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="portfolio-item design app">
                <div class="portfolio-item-inner">
                    <%= image_tag("01.jpg", class: "img-responsive")%>
                    <div class="portfolio-info">
                        <h3>Foreignerz Design</h3>
                        Lorem Ipsum Dolor Sit
                        <a class="preview" rel="prettyPhoto" href="assets/full.img">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>                
            </div>

            <div class="portfolio-item design">
                <div class="portfolio-item-inner">
                    <%= image_tag("01.jpg", class: "img-responsive")%>
                    <div class="portfolio-info">
                        <h3>Foreignerz Design</h3>
                        Lorem Ipsum Dolor Sit
                        <a class="preview" rel="prettyPhoto" href="assets/full.img">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>                
            </div>
            
            <div class="portfolio-item development">
                <div class="portfolio-item-inner">
                    <%= image_tag("01.jpg", class: "img-responsive")%>
                    <div class="portfolio-info">
                        <h3>Foreignerz Design</h3>
                        Lorem Ipsum Dolor Sit
                        <a class="preview" rel="prettyPhoto" href="assets/full.img">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>                
            </div>
            
            <div class="portfolio-item design app">
                <div class="portfolio-item-inner">
                    <%= image_tag("01.jpg", class: "img-responsive")%>
                    <div class="portfolio-info">
                        <h3>Foreignerz Design</h3>
                        Lorem Ipsum Dolor Sit
                        <a class="preview" rel="prettyPhoto" href="assets/full.img">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>                
            </div>
            
            <div class="portfolio-item development">
                <div class="portfolio-item-inner">
                    <%= image_tag("01.jpg", class: "img-responsive")%>
                    <div class="portfolio-info">
                        <h3>Foreignerz Design</h3>
                        Lorem Ipsum Dolor Sit
                        <a class="preview" rel="prettyPhoto" href="assets/full.img">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>                
            </div>
            
            <div class="portfolio-item design app">
                <div class="portfolio-item-inner">
                    <%= image_tag("01.jpg", class: "img-responsive")%>
                    <div class="portfolio-info">
                        <h3>Foreignerz Design</h3>
                        Lorem Ipsum Dolor Sit
                        <a class="preview" rel="prettyPhoto" href="assets/full.img">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>                
            </div>
            
            <div class="portfolio-item development">
                <div class="portfolio-item-inner">
                    <%= image_tag("01.jpg", class: "img-responsive")%>
                    <div class="portfolio-info">
                        <h3>Foreignerz Design</h3>
                        Lorem Ipsum Dolor Sit
                        <a class="preview" rel="prettyPhoto" href="assets/full.img">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </div>                
            </div>

        </div>

    </div>
</section>

<section id="about">
    <div class="container">
        
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">About Us</h2>
            <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua..</p>
        </div>

        <div class="row">
            <div class="col-sm-6 wow fadeInLeft">
                <h3 class="column-title">Video Feature</h3>
                <div class="embed-responsive embed-responsive-16by9">

                </div>
            </div>

            <div class="col-sm-6 wow fadeInRight">
                <div class="column-title">Our Vision</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="nostyle">
                           <li><i class="fa fa-check"></i> Duis aute irure dolor</li>
                           <li><i class="fa fa-check"></i> Duis aute irure dolor</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="nostyle">
                           <li><i class="fa fa-check"></i> Duis aute irure dolor</li>
                           <li><i class="fa fa-check"></i> Duis aute irure dolor</li>
                        </ul>
                    </div>
                </div>
                <a class="btn btn-primary learn-more" href="#">More</a>

            </div>

        </div>
    </div>
</section>

<section id="work-process">
    <div class="container">
        
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">What we do?</h2>
            <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua..</p>
        </div>

        <div class="row text-center">

            <div class="col-md-2 col-md-2 col-xs-6">
                <div class="wow fadeInUp" data-wow-delay="0ms" data-wow-duration="400ms">
                    <div class="icon-circle">
                        <i class="fa fa-coffee fa-2x"></i>
                    </div>
                    <h3>Plan</h3>
                </div>
            </div>

            <div class="col-md-2 col-md-2 col-xs-6">
                <div class="wow fadeInUp" data-wow-delay="0ms" data-wow-duration="400ms">
                    <div class="icon-circle">
                        <i class="fa fa-bullhorn fa-2x"></i>
                    </div>
                    <h3>Design</h3>
                </div>
            </div>

            <div class="col-md-2 col-md-2 col-xs-6">
                <div class="wow fadeInUp" data-wow-delay="0ms" data-wow-duration="400ms">
                    <div class="icon-circle">
                        <i class="fa fa-image fa-2x"></i>
                    </div>
                    <h3>Develop</h3>
                </div>
            </div>

            <div class="col-md-2 col-md-2 col-xs-6">
                <div class="wow fadeInUp" data-wow-delay="0ms" data-wow-duration="400ms">
                    <div class="icon-circle">
                        <i class="fa fa-space-shuttle fa-2x"></i>
                    </div>
                    <h3>Test</h3>
                </div>
            </div>

            <div class="col-md-2 col-md-2 col-xs-6">
                <div class="wow fadeInUp" data-wow-delay="0ms" data-wow-duration="400ms">
                    <div class="icon-circle">
                        <i class="fa fa-heart fa-2x"></i>
                    </div>
                    <h3>Launch</h3>
                </div>
            </div>

            <div class="col-md-2 col-md-2 col-xs-6">
                <div class="wow fadeInUp" data-wow-delay="0ms" data-wow-duration="400ms">
                    <div class="icon-circle">
                        <i class="fa fa-shopping-cart fa-2x"></i>
                    </div>
                    <h3>Party</h3>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="meet-team">
    <div class="container">
        
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Meet The Amazing Team</h2>
            <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua..</p>
        </div>


            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag("team/wateam-aditya.jpg", class: "img-circle img-responsive", size: "225")%>
                    <h4>Aditya</h4>
                    <p class="text-muted">team member</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag("team/lithu.jpg", class: "img-circle img-responsive", size: "225")%>
                    <h4>Lithu</h4>
                    <p class="text-muted">team member</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag("team/chintu.jpg", class: "img-circle img-responsive", size: "225")%>
                    <h4>Chintu</h4>
                    <p class="text-muted">team member</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag("team/azmath-pasha.jpg", class: "img-circle img-responsive", size: "225")%>
                    <h4>Azmath Pasha</h4>
                    <p class="text-muted">team member</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag("team/vijay.jpg", class: "img-circle img-responsive", size: "225")%>
                    <h4>vijay</h4>
                    <p class="text-muted">team member</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag("team/wateam-vinay.jpg", class: "img-circle img-responsive", size: "225")%>
                    <h4>Vinay</h4>
                    <p class="text-muted">team member</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag("team/wateam-nitin.jpg", class: "img-circle img-responsive", size: "225")%>
                    <h4>Yemula Nitin</h4>
                    <p class="text-muted">Lead Developer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>


            


    </div>
</section>

<section id="animated-number">
</section>

<section id="pricing">
</section>

<section id="testimonial">
</section>

<section id="blog">
</section>

<section id="get-in-touch">
</section>


<div class="container">
    <!--about wish amigo section-->

   

  <!-- Services Section -->
  <section id="services">
    <div class="container">
        <div class="row">
                <h2 class="section-heading">Occassions</h2>
                <h3 class="section-subheading text-muted">The Occassions that we celebrate. We also do custom occassions as per your needs</h3>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-birthday-cake fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Birthday</h4>
                <p class="text-muted">want to make a big birthday blast for your beloved ones?</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-child fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Cradle Ceremony</h4>
                <p class="text-muted">Want to surprise your new born child?</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Bon Voyage</h4>
                <p class="text-muted">Want to make a big farewell for your special ones who is setting off for a big journey?</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Anniversary</h4>
                <p class="text-muted">Want to make your partner a very speacial Anniversary or your parents anniversary?</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Cinematic Proposal</h4>
                <p class="text-muted">Want to propose your loved ones in a very special way?</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Father's Day</h4>
                <p class="text-muted">No one can replace love of parents. Want to make your father a memorable day?</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Mother's Day</h4>
                <p class="text-muted">No one can replace love of parents. Want to make your mother a memorable day?</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-child fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Upsherin Ceremony</h4>
                <p class="text-muted">Make a special day for your child and relatives?</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-arrow-right fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">just like that</h4>
                <p class="text-muted">For no reason?</p>
            </div>
        </div>
    </div>
  </section>

  <!-- Portfolio Grid Section -->
  <section id="portfolio">
    <div class="container">
        <div class="row">
            <h2 class="section-heading">Our Work so far</h2>
            <h3 class="section-subheading text-muted">We have successfull in making about 25 events so far and still growing.</h3>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag("anniversary-2.jpg", class: "img-responsive event-image")%>
                </a>
                <div class="portfolio-caption">
                    <h4>38th Anniversary</h4>
                    <p class="text-muted">Filled with colorful joy and happiness</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag("anniversary-3.jpg", class: "img-responsive event-image")%>
                </a>
                <div class="portfolio-caption">
                    <h4>Anniversary</h4>
                    <p class="text-muted">Great Couple</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag("anniversary-5.jpg", class: "img-responsive event-image")%>
                </a>
                <div class="portfolio-caption">
                    <h4>25th Anniversary</h4>
                    <p class="text-muted">Great joy</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag("anniversary-9.jpg", class: "img-responsive event-image")%>
                </a>
                <div class="portfolio-caption">
                    <h4>Anniversary</h4>
                    <p class="text-muted">anniversary</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag("birthday-2.jpg", class: "img-responsive event-image")%>
                </a>
                <div class="portfolio-caption">
                    <h4>Birthday</h4>
                    <p class="text-muted">Birthday</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag("birthday-4.jpg", class: "img-responsive event-image")%>
                </a>
                <div class="portfolio-caption">
                    <h4>Birthday</h4>
                    <p class="text-muted">Birthday Design</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag("birthday-3.jpg", class: "img-responsive event-image")%>
                </a>
                <div class="portfolio-caption">
                    <h4>Birthday</h4>
                    <p class="text-muted">Birthday</p>
                </div>
            </div>
        </div>
    </div>
  </section>


  <!-- Team Section -->
  <section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag("team/wateam-aditya.jpg", class: "img-circle img-responsive", size: "225")%>
                    <h4>Aditya</h4>
                    <p class="text-muted">team member</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag("team/lithu.jpg", class: "img-circle img-responsive", size: "225")%>
                    <h4>Lithu</h4>
                    <p class="text-muted">team member</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag("team/chintu.jpg", class: "img-circle img-responsive", size: "225")%>
                    <h4>Chintu</h4>
                    <p class="text-muted">team member</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag("team/azmath-pasha.jpg", class: "img-circle img-responsive", size: "225")%>
                    <h4>Azmath Pasha</h4>
                    <p class="text-muted">team member</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag("team/vijay.jpg", class: "img-circle img-responsive", size: "225")%>
                    <h4>vijay</h4>
                    <p class="text-muted">team member</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag("team/wateam-vinay.jpg", class: "img-circle img-responsive", size: "225")%>
                    <h4>Vinay</h4>
                    <p class="text-muted">team member</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag("team/wateam-nitin.jpg", class: "img-circle img-responsive", size: "225")%>
                    <h4>Yemula Nitin</h4>
                    <p class="text-muted">Lead Developer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        
        </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div>
    </div>
  </section>


  <section id="contact_us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted">One click away to make your special ones a special day. Our team will reach you within 24 hours</h3>
            </div>
        </div>

        <!-- ContactForm -->
        <%= form_for @contact, url: contact_path do |f| %>
          <div class="row">
            <div class="col-md-6">
              
              <!-- Name Field -->
              <p class="help-block text-danger">
                <% if @contact.errors.get(:name) %>
                  <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <%= @contact.errors.get(:name).first %>  
                  </div>
                <% end %>
              </p>
              <div class="form-group">
                  <%= f.text_field :name, :placeholder => "Your Name *", :class => "form-control" %>
              </div>
            </div>

          <!-- Email Field -->
          <div class="col-md-6">
            <p class="help-block text-danger">
              <% if @contact.errors.get(:email) %>
                <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <%= @contact.errors.get(:email).first %>  
                </div>
              <% end %>
            </p>
              <div class="form-group">
                  <%= f.text_field :email, :placeholder => "Your Email *", :class => "form-control" %>
              </div>
            </div>  
          </div>

          <div class="row">

            <!-- Phone Number -->
            <div class="col-md-6">
              <p class="help-block text-danger">
                <% if @contact.errors.get(:phone) %>
                  <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <%= @contact.errors.get(:phone).first %>  
                  </div>
                <% end %>
              </p>
              <div class="form-group">
                  <%= f.text_field :phone, :placeholder => "Your Contact Number *", :class => "form-control" %>
              </div>
            </div>
            
            <div class="col-md-6">

              <!-- Occasion Field -->
              <p class="help-block text-danger">
                <% if @contact.errors.get(:occasion) %>
                  <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <%= @contact.errors.get(:occasion).first %>  
                  </div>
                <% end %>
              </p>
              <div class="form-group">
                  <%= f.text_field :occasion, :placeholder => "To whom you want to surprise and your relation with them *", :class => "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">

            <!-- Event date -->
            <div class="col-md-6">
              <p class="help-block text-danger">
                <% if @contact.errors.get(:event_date) %>
                  <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <%= @contact.errors.get(:event_date).first %>  
                  </div>
                <% end %>
              </p>
              <div class="form-group">
                <div class='input-group date' id='event_date_picker'>
                      <%= f.text_field :event_date, :placeholder => "Event Date *", :class => "form-control" %>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
              </div>
            </div>

            <!-- Event Time -->
            <div class="col-md-6">
              <p class="help-block text-danger">
                <% if @contact.errors.get(:event_time) %>
                  <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <%= @contact.errors.get(:event_time).first %>  
                  </div>
                <% end %>
              </p>
              <div class="form-group">
                <div class='input-group date' id='event_time_picker'>
                      <%= f.text_field :event_time, :placeholder => "Event Time", :class => "form-control" %>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
              </div>
            </div>
          </div>

            <p class="help-block text-danger">
              <% if @contact.errors.get(:description) %>
                <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <%= @contact.errors.get(:description).first %>  
                </div>
              <% end %>
            </p>
            <div class="form-group">
                <%= f.text_area :description, :placeholder => "Few lines about how you dream about the surprise for your love?", :class => "form-control", :rows => "6" %>
            </div>
            <div class="col-lg-12 text-center">
                    <div id="success"></div>
                    <button type="submit" class="btn btn-primary">Contact WishAmigo</button>
        <% end %>
        <!-- ContactForm -->

    </div>
  </section>

  <!-- Portfolio Modals -->
  <!-- Use the modals below to showcase details about your portfolio projects! -->

  <!-- Portfolio Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Name</h2>
                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="img-responsive" src="img/portfolio/roundicons-free.png" alt="">
                        <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                        <p>
                            <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
                        <ul class="list-inline">
                            <li>Date: July 2014</li>
                            <li>Client: Round Icons</li>
                            <li>Category: Graphic Design</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- Portfolio Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Heading</h2>
                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="img-responsive img-centered" src="img/portfolio/startup-framework-preview.png" alt="">
                        <p><a href="http://designmodo.com/startup/?u=787">Startup Framework</a> is a website builder for professionals. Startup Framework contains components and complex blocks (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.</p>
                        <p>You can preview Startup Framework <a href="http://designmodo.com/startup/?u=787">here</a>.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- Portfolio Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Name</h2>
                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="img-responsive img-centered" src="img/portfolio/treehouse-preview.png" alt="">
                        <p>Treehouse is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. This is bright and spacious design perfect for people or startup companies looking to showcase their apps or other projects.</p>
                        <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/">FreebiesXpress.com</a>.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- Portfolio Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Name</h2>
                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="img-responsive img-centered" src="img/portfolio/golden-preview.png" alt="">
                        <p>Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Golden is a modern and clean one page web template that was made exclusively for Best PSD Freebies. This template has a great portfolio, timeline, and meet your team sections that can be easily modified to fit your needs.</p>
                        <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/golden-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- Portfolio Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Name</h2>
                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="img-responsive img-centered" src="img/portfolio/escape-preview.png" alt="">
                        <p>Escape is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Escape is a one page web template that was designed with agencies in mind. This template is ideal for those looking for a simple one page solution to describe your business and offer your services.</p>
                        <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/">FreebiesXpress.com</a>.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- Portfolio Modal 6 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Name</h2>
                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="img-responsive img-centered" src="img/portfolio/dreams-preview.png" alt="">
                        <p>Dreams is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Dreams is a modern one page web template designed for almost any purpose. Its a beautiful template thats designed with the Bootstrap framework in mind.</p>
                        <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<% if @scroll_to %>
  <script type="text/javascript">
    document.location.hash = "<%= @scroll_to %>"
    
  </script>>
<% end %>