<!DOCTYPE html>
<html>
  <head>
    <title>WishAmigo</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Montserrat:400,700"%>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Kaushan+Script"%>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"%>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"%>
    <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"%>
    <link href="/assets/bootstrap-datetimepicker.min.css" media="screen" rel="stylesheet" />
    

    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body id ="home" class="homepage">
      <%= render 'layouts/header' %>
      <%= render 'shared/flash_messages' if !flash.empty? %>
      <%= yield %>
      <%= render 'layouts/footer' %>
  </body>
</html>